* {
	padding: 0;
	margin: 0;
	border: 0;
}

/* 
*
*	Styles for links
*
*/
a {
	color: #000;
}

a:hover {
	text-decoration: none;
	color: #c0c0c0;
}

a:visited {
	color: #000;
}

/* 
*
*	Styles for main sections
*
*/
body {
	font-size: 16px;
}

.head,
#intro,
#workExperience,
#projects,
#education {
	border-bottom: 1px solid #c0c0c0;
	padding: 2em;
	margin: 0;
}

/* 
*
*	Styles for header/nav
*
*/
.head {
	padding: 2em 0 2em 4em;
}

.contacts {
	float: right;
}

#title,
.main-nav {
	float: left;
}

#topContacts,
.main-nav {
	list-style: none;
}

.main-nav ul li {
	display: inline;
	padding: 0 0 0 .75em;
	font-size: 2em;
}

.main-nav ul li:first-of-type {
	padding: 0;
}

/* 
*
*	Styles for intro
*
*/
.biopic {
	float: right;
	max-width: 25em;
	width: 100%;
	overflow: hidden;
	margin-left: 2em;
}

.welcome-message {
	font-size: 2em;
}

.main-nav {
	padding: 1em 0 0 0;
}

/* 
*
*	Styles for header/nav
*
*/
.work-entry {
	margin: 0 0 2.5em 0;
}

.work-title {
	font-size: 1.5em;
}

.work-date {
	float: right;
}

.work-date,
.location-text {
	font-style: italic;
}

/* 
*
*	Styles for the Projects
*
*/
.project-entry {
	height: 25em;
	border: 1px solid black;
	margin: 1.25em 0 0;
	box-shadow: 3px 3px 5px gray;
	box-shadow: 5px 5px 7px gray;
	padding: 0 .5em;
}

.project-image {
	padding-top: 1.6666666666666666666666666666667em;
	max-height: 14.0625em;
	height: 100%;
	margin: auto;
}

.project-title {
	margin-bottom: 0;
}

.project-date {
	font-style: italic;
}

.project-description {
	font-size: .75em;
	margin: .75em 0;
}


/* 
*
*	Styles for the Map
*
*/
.info-window {
	max-width: 31.25em;
	line-height: 0;
}

.info-window h4,
.info-window h5,
.info-window p {
	margin: .25em;
	padding: 0;
	line-height: 1em;
}

.info-window-pic-container {
	max-width: 250px;
}

.info-window-pic {
	width: 100%;
}

.map-image-caption {
	font-size: .75em;
}

#map {
	display: block;
	height: 100%;
	margin-left: 5%;
	margin-right: 5%;
}

#mapDiv {
	height: 800px; /* Did not like how small the map is.  800px's may be too large, but I didn't like 400px's at all. */
	width: 100%;
	padding-bottom: 5%;
}

/* 
*
*	Styles for the Footer
*
*/
#letsConnect {
	text-align: center;
}

#footerContacts {
}

#footerContacts li {
	display: inline;
	list-style: none;
	padding: 0 0 0 2em;
	font-size: 2rem;
}

#footerContacts li:first-of-type {
	padding: 0;
}

/*
*
*	So this is ugly.  Developed on a screen with 1450px and then worked my way down.  The opposite of mobile first design.  I consider this lesson learned.
*
*/
@media screen and (max-width: 85.625em){ /*1390px */
	.main-nav ul li {
		padding: 0 0 0 .50em;
	}
}

@media screen and (max-width: 79.375em){ /* 1270px */
	.main-nav ul li {
		font-size: 1.75em;
	}

	h1 {
		font-size: 2em;
	}
}

@media screen and (max-width: 73.125em){ /* 1170px */
	.welcome-message {
		font-size: 1.75em;
	}

	.project-image {
		max-height: 10.9375em;
	}
}

@media screen and (max-width: 70.625em){ /* 1130px */
	.main-nav ul li {
		font-size: 1.75em;
	}

	h1 {
		font-size: 1.5em;
	}

	.role {
		font-size: .75em;
	}
}

@media screen and (max-width: 70.625em){ /* 1080px */
	.main-nav ul li {
		font-size: 1.5em;
	}

	h1 {
		font-size: 1.5em;
	}

	.welcome-message {
		font-size: 1.5em;
	}

	.biopic {
		max-width: 18.75em;
		width: 100%;
		margin-left: 1em;
	}
}

@media screen and (max-width: 61.8755em){ /* 990px */
	.project-image {
		max-height: 14.0625em;
	}
}

@media screen and (max-width: 58.4375em){ /* 935px */
	#title,
	.contacts,
	.main-nav {
		width: 100%;
		display: block;
		float: none;
		margin: auto;
		text-align: center;
	}

	#name {
		font-size: 2em;
	}

	.main-nav {
		margin: 0 0 2em 0;
	}

	.role {
		font-size: 1em;
	}
}

@media screen and (max-width: 49.875em){ /* 798px */
	.welcome-message {
		float: none;
		display: block;
	}

	.biopic {
		float: none;
		text-align: center;
	}
}

@media screen and (max-width: 29.375em){ /* 798px */
	.project-image {
		max-height: 10.9375em;
	}
}